@import "../globals/variables";

.menu_container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0;
  position: relative;
  background: white;
  top: 24px;
  left: 101px;
  max-width:234px;
}

.navTab {

  color: black;
  cursor: pointer;
}

.active{
  padding-bottom: 35px;
  border-bottom:3px solid $green;
  color: $green;
}

.currencyCartContainer{
  display: flex;
  flex-direction: row;
  justify-content: start;

  float: right;
  margin-right: 20px;
}

.currencySelect{
  border-color: white;

}

//Currentcy

//Currency
