.nav{
  margin-top: 80px;
}

.categoryName{
  position: absolute;
  left: 110px;
  top: 160px;
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 42px;
  line-height: 160%;
}

.items{
  display: flex;
  margin-top: 87px;
}
